@use "./../../styles/partials/typography";
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;
@use "sass:color";

.delete {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba($black, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: $white;
    border-radius: $border-radius-m;
    padding: $spacing-m;
    width: 350px;
    max-width: 90%;
    box-shadow: $shadow-md;
    animation: modal-appear 0.3s ease forwards;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }

  &__title {
    font-family: $font-secondary;
    font-size: $font-size-m;
    font-weight: 600;
    margin-bottom: $spacing-m;
    color: $secondary-colour;
    line-height: 1.4;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    gap: $spacing-m;
  }

  &__buttons {
    padding: $spacing-xs $spacing-m;
    border: none;
    border-radius: $border-radius-s;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: $font-size-s;
    cursor: pointer;
    transition: $transition-fast;

    &--cancel {
      @include cancel-button;
    }

    &--delete {
      background-color: $error-colour;
      color: $white;

      &:hover {
        background-color: color.scale($error-colour, $lightness: -10%);
      }
    }
  }
}

@keyframes modal-appear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
