@use "./../../styles/partials/typography";
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.outline {
  background-color: $white;
  border-radius: $border-radius-m;
  box-shadow: $shadow-sm;
  overflow: hidden;
  margin-bottom: $spacing-l;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);

  &__header {
    position: relative;
    background-color: $secondary-colour;
    color: $white;
    padding: $spacing-m $spacing-l $spacing-m;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 10rem;

    &--image {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--header-image, url(""));
        background-size: cover;
        background-position: center;
        opacity: 0.8;
        z-index: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(17, 43, 60, 0.4), rgba(17, 43, 60, 0.8));
        z-index: 1;
      }
    }
  }

  &__titles {
    position: relative;
    flex: 1;
    z-index: 2;
  }
  &__name-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  &__edit {
    width: 1.4rem;
    fill: $white;
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
      width: 1.7rem;
    }
  }
  &__name {
    font-family: $font-primary;
    font-weight: 700;
    font-size: $font-size-xxl;
    margin: 0 0 $spacing-xs;
    letter-spacing: 0.5px;
    color: $white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &-input {
      font-family: $font-secondary;
      font-size: $font-size-s;
      width: 35%;
      padding: 0.3rem;
      border: 3px none rgba($accent-colour, 0.8);
      border-radius: $border-radius-s;
      margin-bottom: 0.5rem;

      &:focus {
        outline: none;
        border-color: $accent-colour;
        box-shadow: 0 0 0 2px rgba($accent-colour, 0.2);
      }
    }
  }

  &__dates {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: $font-size-m; // Reduced from $font-size-m
    color: rgba(255, 255, 255, 0.95);
    letter-spacing: 0.5px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  // &__downaload {
  //   z-index: 4;
  // }

  &__location {
    position: relative;
    background-color: $primary-colour;
    padding: $spacing-xs $spacing-s;
    border-radius: $border-radius-s;
    font-size: $font-size-s;
    font-family: $font-secondary;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__tabs {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    background: none;
    border: none;
    padding: $spacing-s $spacing-l;
    // font-family: $font-secondary;
    font-size: $font-size-l;
    font-weight: 700;
    color: $secondary-colour;
    cursor: pointer;
    transition: $transition-fast;
    opacity: 0.7;
    border-bottom: 2px solid transparent;
    width: 50%;

    &:hover {
      opacity: 1;
      border-bottom: 2.5px solid $accent-colour;
    }

    &--active {
      opacity: 1;
      border-bottom: 2.5px solid $accent-colour;
    }
  }

  // &__tab-content {
  //   // padding: 0.4rem 0.5rem;
  // }

  &__map-container {
    height: 300px;
    background-color: rgba($secondary-colour, 0.05);
    // border-radius: $border-radius-m;
  }

  // &__placeholder {
  //   text-align: center;
  //   padding: $spacing-l;
  //   color: rgba($text-colour, 0.6);
  //   font-style: italic;
  // }
}
