@use "./../../styles/partials/typography";
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.user {
  &__statistics {
    background-color: $white;
    padding: $spacing-m;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1; /* Replacing $grey-light */
  }
}

.statistics {
  &__left {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }
  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: $spacing-xs;
    color: $text-colour;
    // font-family: $font-secondary;
  }
  &__trip {
    &--upcoming,
    &--completed {
      display: inline-block;
      padding: $spacing-xs $spacing-s;
      border-radius: 20px;
      font-family: $font-secondary;
      font-size: 0.9rem;
      font-weight: 500;
      margin-right: $spacing-s;
    }

    &--upcoming {
      background-color: rgba($accent-colour, 0.2);
      color: $accent-colour;
    }

    &--completed {
      background-color: rgba(#adadad, 0.2); /* Replacing rgba($grey, 0.2) */
      color: #4a4a4a; /* Replacing $grey-dark */
    }
  }

  &__countdown {
    background-color: rgba($accent-colour, 0.1);
    border: none;
    padding: $spacing-s $spacing-m;
    border-radius: $border-radius-m;
    font-weight: 600;
    color: $accent-colour;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-family: $font-secondary;

    &::before {
      content: "🗓️"; // Calendar emoji
      margin-right: $spacing-xs;
      font-size: 1.2rem;
    }
  }
}
