@use "./typography";
@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $font-primary;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  color: $text-colour;
}

.map {
  &__info {
    font-family: $font-secondary;
  }
}

option {
  font-family: $font-secondary;
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Cormorant", serif; // Use Cormorant for now
//   font-weight: 700;
//   margin: 0;
// }

// button {
//   font-family: "Cormorant", serif;
//   font-weight: 700;
// }
