@use "./typography";
@use "./variables" as *;
@use "sass:color";

@mixin content-padding {
  padding: 2rem 3rem;
}

@mixin primary-button {
  background-color: rgba($accent-colour, 0.9);
  color: $white;
  font-family: $font-secondary;
  font-size: $font-size-m;
  font-weight: 500;
  border: none;
  border-radius: $border-radius-m;
  padding: $spacing-xs $spacing-s;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;

  &:hover {
    background-color: color.adjust($accent-colour, $lightness: -10%);
  }
}

@mixin cancel-button {
  background-color: #f1f1f1;
  color: $text-colour;

  &:hover {
    background-color: #e0e0e0;
  }
}

@mixin logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.7rem;
}

@mixin logo {
  width: 1.8rem;
}

@mixin logo-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  transition: opacity $transition-medium;

  &:hover {
    opacity: 0.8;
  }
}

@mixin nav-bar {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: rgba(white, 0.8);
    transition: width $transition-medium;
  }

  &:hover::after {
    width: 100%;
    opacity: 0.8;
  }
}

@mixin skeleton-element($height, $width) {
  height: $height;
  width: $width;
  margin: 0 auto;
  background-color: $skeleton-bg;
  border-radius: $border-radius-s;
  animation: pulse 1.3s infinite;
}

@mixin empty {
  font-family: $font-secondary;
  font-size: $font-size-m;
  color: rgba($text-colour, 0.7);
  font-style: italic;
  padding: $spacing-xs 0;
}
