@use "./typography";
@use "./variables" as *;
@use "sass:color";

@mixin content-padding {
  padding: 2rem 3rem;
}

@mixin primary-button {
  background-color: rgba($accent-colour, 0.9);
  color: $white;
  font-family: $font-secondary;
  font-size: $font-size-m;
  font-weight: 500;
  border: none;
  border-radius: $border-radius-m;
  padding: $spacing-xs $spacing-s;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;

  &:hover {
    background-color: color.adjust($accent-colour, $lightness: -10%);
  }
}

@mixin cancel-button {
  background-color: #f1f1f1;
  color: $text-colour;

  &:hover {
    background-color: #e0e0e0;
  }
}
