@use "./typography";
@use "./variables" as *;

@mixin button-primary {
  background-color: $primary-colour;
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: $border-radius-m;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-colour, 50%);
  }
}
