@use "./../../styles/partials/typography" as *;
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.form__container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: $spacing-l 3.5rem;
  border-radius: $border-radius-m;
  max-width: 37.5rem;
  width: 100%;
  box-shadow: $shadow-md;
  position: relative;
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-l;

  &__tab {
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    align-items: center;
  }
  &__label {
    font-family: $font-secondary;
    font-size: $font-size-l;
    color: $text-colour;
  }

  &__input {
    padding: $spacing-xs;
    border: 1.5px solid $grey;
    border-radius: $border-radius-m;
    font-family: $font-secondary;
    font-size: $font-size-m;
    transition: border-color $transition-medium;
    width: 100%;

    &--invalid {
      border-color: $error-colour;
    }

    &:focus {
      // border-color: $primary-colour;
      border: 1.5px solid $primary-colour;
      outline: none;
    }
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  // .react-datepicker__input-container {
  //   width: 100%;
  // }

  .react-datepicker__input-container input {
    width: 100%;
    padding: $spacing-xs;
    border: 1px solid $grey;
    border-radius: $border-radius-m;
    font-family: $font-secondary;
    font-size: $font-size-m;
    transition: border-color $transition-medium;

    &:focus {
      border-color: $primary-colour;
      outline: none;
    }
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  &__cancel,
  &__submit {
    font-family: $font-secondary;
    font-size: $font-size-m;
    padding: 0.5rem 1rem;
    border-radius: $border-radius-s;
    cursor: pointer;
    transition: background-color $transition-medium;

    &:hover {
      opacity: 0.9;
    }
  }

  &__submit {
    background-color: $accent-colour;
    color: $white;
    border: none;

    &:hover {
      background-color: darken($accent-colour, 10%);
    }
  }

  &__cancel {
    background-color: $grey;
    color: $text-colour;
    border: none;

    &:hover {
      background-color: darken($grey, 10%);
    }
  }
}
