@use "./../../styles/partials/typography";
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.user {
  display: flex;
  flex-direction: column;
  // border: 2px solid $secondary-colour;
  margin-top: 10rem;
}

.trips {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__trip {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
