@use "./../../styles/partials/typography";
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.form__container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: $border-radius-m;
  max-width: 62.5rem;
  width: 100%;
  box-shadow: $shadow-md;
  position: relative;
  z-index: 2;
  display: flex;
}

// .react-datepicker-popper {
//   z-index: 10;
// }

.form__image-container {
  flex: 0 0 45%;
}

.form__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: $border-radius-m 0 0 $border-radius-m;
}

.form {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 2rem 3rem;
  min-height: 25rem;

  &__tab {
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    width: 100%;
    margin-bottom: $spacing-l;
  }

  &__label {
    font-family: $font-secondary;
    font-size: $font-size-l;
    color: $text-colour;
    font-weight: 500;
    margin-bottom: $spacing-xs;
  }

  &__input {
    padding: $spacing-m;
    border: 1.5px solid $grey;
    border-radius: $border-radius-m;
    font-family: $font-secondary;
    font-size: $font-size-m;
    transition: border-color $transition-medium;
    width: 100%;
    height: 50px;

    &--invalid {
      border-color: $error-colour;
    }

    &:focus {
      outline: none;
      border-color: $accent-colour;
      border: none;
      box-shadow: 0 0 0 2px rgba($accent-colour, 0.6);
    }
  }

  .react-datepicker {
    font-family: $font-secondary;

    &-wrapper {
      width: 100%;
      font-family: $font-secondary;
    }

    &__day-name,
    &__day,
    &__current-month,
    &__month {
      font-family: $font-secondary;
    }

    &__input-container {
      input {
        width: 100%;
        padding: $spacing-m;
        border: 1.5px solid $grey;
        border-radius: $border-radius-m;
        font-family: $font-secondary;
        font-size: $font-size-m;
        height: 50px;

        &:focus {
          outline: none;
          border: none;
          border-color: $accent-colour;
          box-shadow: 0 0 0 2px rgba($accent-colour, 0.6);
        }
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    margin-top: $spacing-l;
    // padding-right: $spacing-m; /* Added to shift buttons to match design */
  }

  &__cancel,
  &__submit {
    font-family: $font-secondary;
    font-size: $font-size-m;
    padding: 0.75rem 1.5rem;
    border-radius: $border-radius-s;
    cursor: pointer;
    transition: all $transition-medium;
    min-width: 140px;

    &:hover {
      opacity: 0.9;
    }
  }

  &__submit {
    background-color: $accent-colour;
    color: $white;
    border: none;
    font-weight: bold;

    &:hover {
      background-color: darken($accent-colour, 10%);
    }
  }

  &__cancel {
    background-color: $grey;
    color: white;
    border: none;

    &:hover {
      background-color: darken($grey, 10%);
    }
  }
}
