@use "./../../styles/partials/typography" as *;
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.planning {
  width: 100%;
  min-height: 100vh;
  background-color: $background-colour;
  padding-top: 5rem;

  &__main {
    max-width: 70rem;
    margin: 0 auto;
    padding: $spacing-l;
  }

  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $spacing-l;
    margin-top: $spacing-l;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
