@use "./../../styles/partials/typography";
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.discover {
  padding: $spacing-xl 0;
  background-color: $white;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;

  &__container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 $spacing-l;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: $accent-colour;
  }

  &__title {
    font-family: $font-primary;
    font-size: $font-size-xxl;
    color: $text-colour;
    margin-bottom: $spacing-s;
    text-align: center;
  }

  &__subtitle {
    font-family: $font-secondary;
    font-size: $font-size-l;
    color: $text-colour;
    opacity: 0.8;
    margin-bottom: $spacing-xl;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-l;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: $spacing-xl;
    }
  }

  &__card {
    background-color: $white;
    border-radius: $border-radius-m;
    overflow: hidden;
    box-shadow: $shadow-md;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;

    &:hover {
      transform: translateY(-5px);
      box-shadow: $shadow-lg;
    }
  }

  &__image-container {
    height: 350px; /* Increased height for more prominent images */
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__content {
    padding: $spacing-l;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__destination {
    font-family: $font-primary;
    font-size: $font-size-xl;
    margin-bottom: $spacing-s;
    color: $text-colour;
  }

  &__city {
    font-weight: 700;
  }

  &__country {
    font-weight: 400;
    margin-left: $spacing-xs;
    font-style: italic;
    font-size: 1.2rem;
    color: $accent-colour;
  }

  &__description {
    font-family: $font-secondary;
    font-size: $font-size-m;
    color: $text-colour;
    line-height: 1.6;
    margin-bottom: $spacing-l;
    max-height: 4.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__button {
    background-color: rgba($accent-colour, 0.8);
    color: $white;
    font-family: $font-secondary;
    font-size: $font-size-m;
    font-weight: 500;
    padding: $spacing-xs $spacing-s;
    border: none;
    border-radius: $border-radius-m;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 60%;

    &:hover {
      background-color: darken($accent-colour, 10%);
    }
  }
}
